* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #E6DACE;
  min-width: 480px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  border-bottom: 1px solid white;
  box-sizing: border-box; /* Pour inclure le padding dans la taille totale du header */
  min-height: 50px; 
  height: 8vh; 
  min-width: 480px;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: white;
}


.title-portfolio > a {
  text-decoration: none;
  color: #000;
}


.nav-header {
  display: flex;
  gap: 20px;
}

.nav-header a {
  text-decoration: none;
  color: #000; 
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid white;
  min-height: 500px;
  height: 60vh;
}

.background-image-presentation {
  width: 100%; 
  min-height: 500px;
  height: 60vh;
  display: block;
  object-fit: cover; /* Pour bien couvrir toute la zone */
}


.presentation > div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #E6DACE;
  width: 75%;
  height: 75%;
  border-radius: 20px;
}

#presentation-image {
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  justify-content: flex-start; /* Aligne les éléments au début (en haut) */
  align-items: center; /* Centre l'image horizontalement */
  background-color: #F4ECE6;
  width: 20%;
  height: 100%;
  margin-left: 20px;
}

.oval {
  width: 200px;  /* Largeur de l'image ovale */
  height: 200px; /* Hauteur de l'image ovale */
  border-radius: 100%; /* Forme ovale */
  margin-top: 20px;
}

#name {
  margin-top: 20px;
  text-align: center; 
}

#reseaux-sociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: auto; /* Pousse le texte vers le bas du conteneur */
  background-color: white; /* Texte en blanc */
  text-align: center; /* Centrer le texte */
}

#reseaux-sociaux > img{
  margin: 10px 15px 10px 0;
}

.text-presentation {
  width: 30%; /* Le texte occupe 30% de la largeur totale du conteneur */
  font-size: 18px; /* Taille du texte */
  text-align: justify; /* Justifie le texte */
  padding: 10px; /* Ajoute de l'espace autour du texte */
} 


.text-presentation > h3{
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width:1024px) {
  .text-presentation {
    width: 50%; /* Le texte occupe plus d'espace sur petits écrans */
    right: 5%; /* Rapproche encore plus le texte du bord droit */
    font-size: 1rem; /* Réduit la taille du texte */
  }
  
  header{
    padding:10px;
  }

  h1{
    margin: 0;
    font-size: 1.25em;
  }

  h2{
    font-size: 1em;
  }

  .bouton-header > a > h3{
    font-size: 0.85em;
  }
  
  .nav-header {
    gap: 10px; /* Réduit l'espacement entre les boutons */
  }


}


.etudes-index {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  min-height: 300px;
  height: 30vh;      
}

.etudes-index > div {
  width: 100%;
}

h2{
  text-align: center;
  padding: 15px;
}

.etude-content {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.page-etude-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.etude-title > h5{
  text-align: center;
  margin: 10px 0 10px 0;

}

.page-etude-content > p{
  text-align: justify;
  max-width: 800px;
}

.formation-txt {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  flex: 1;
  padding-right: 40px; /* Ajuste la distance entre le texte et le rond */
}


.timeline {
  margin: 50px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px; /* Place la ligne à la position du marqueur */
  width: 2px;
  background-color: white; /* Couleur de la ligne */
  z-index: 0;
}


.timeline-marker {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 20px;
}

.formation-date {
  font-size: 14px;
  text-align: left;
  flex: 1;
  padding-left: 40px; /* Ajuste la distance entre le rond et la date */
}



.index-images {
  display: flex;
  justify-content: center; /* Centrer les images dans la div parent */
  align-items: center; /* Centrer verticalement si nécessaire */
  width: 100%; /* La div parent prend toute la largeur */
}

.index-image {
  width: 100%; 
  height: auto; 
  object-fit: cover;
}

.index-image-title {
  text-align: center;
}


.centre-dinteret {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  min-height: 300px; 
  height: 30vh; 
}

.centre-dinteret h2 {

}

.centre-dinteret-images {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;  
  padding-bottom: 15px;   
}

.image-vertical-centre-dinteret,
.image-horizontal-centre-dinteret {
  background-color: #F4ECE6;
  flex: 1; 
  margin: 0 15px; 
}

.image-vertical-centre-dinteret img,
.image-horizontal-centre-dinteret img {
  width: 100%; 
  border-radius: 20px;
  border: 2px solid white;
}

.image-vertical-centre-dinteret img {
  height: 200px;
}

.image-horizontal-centre-dinteret img {
  height: 150px;
}



#contact{
  display: flex;
  flex-direction: row;
  justify-content: center; /* Commencer à gauche */
  align-items: center;
}

#infos-contact{
  display: flex; /* Utiliser Flexbox pour la disposition */
  flex-direction: column;
  justify-content: center; /* Commencer à gauche */
  align-items: flex-start;
  margin-right: 100px;
}

#infos-contact > p, #infos-contact > a{
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: none;
}

/* Style pour le formulaire de contact */
.contact-form {
  width: 100%;
  max-width: 600px; /* Largeur maximale du formulaire */
  margin: 30px auto 50px auto; /* Centrer le formulaire horizontalement */
  padding: 20px; /* Espacement interne */
  border: 1px solid #ccc; /* Bordure légère autour du formulaire */
  border-radius: 8px; /* Coins arrondis */
  background-color: #1c1c1c; /* Fond du formulaire */
  color: white; /* Couleur du texte */
}

/* Style pour les lignes de formulaire */
.form-row {
  display: flex; /* Utiliser Flexbox pour la disposition */
  justify-content: flex-start; /* Commencer à gauche */
  margin-bottom: 15px; /* Espacement entre les lignes */
}

/* Style pour chaque groupe de formulaire */
.form-group {
  flex: 1; /* Les groupes de formulaire occupent également l'espace */
  margin-bottom: 15px;
}

/* Ajouter un espace de 20px entre Prénom et Nom */
.form-row .form-group:first-child {
  margin-right: 20px; /* Espace de 20px après le prénom */
}

/* Supprimer la marge à droite du dernier groupe dans la ligne */
.form-row .form-group:last-child {
  margin-right: 0; /* Aucun espace pour le dernier groupe */
}

/* Style pour les labels */
label {
  display: block; /* Les labels occupent toute la largeur */
  margin-bottom: 5px; /* Espacement sous le label */
  font-weight: bold; /* Met le texte du label en gras */
  font-size: 16px; /* Taille uniforme des labels */
}

/* Style des champs de saisie */
input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Largeur de 100% */
  border: none; /* Pas de bordure par défaut */
  border-bottom: 2px solid white; /* Bordure inférieure blanche */
  background-color: transparent; /* Fond transparent */
  color: white; /* Couleur du texte */
  font-size: 16px; /* Taille de police uniforme */
  transition: border-color 0.3s; /* Transition pour l'effet de survol */
}


#label-message{
  margin-bottom: 15px;
}

/* Hauteur uniforme pour tous les champs */
input[type="text"],
input[type="email"] {
  height: 40px; /* Hauteur uniforme */
}

/* Style pour le champ de texte (textarea) */
textarea {
  resize: vertical; /* Permet de redimensionner verticalement uniquement */
  min-height: 100px; /* Hauteur minimale pour textarea */
}

/* Style pour les champs lors du focus */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none; /* Retire le contour par défaut */

  border-bottom: 1px solid white; /* Change la couleur de la bordure lors du focus */
}

/* Style pour le bouton d'envoi */
button {
  background-color: white; /* Couleur du bouton */
  color: black; /* Couleur du texte */
  padding: 10px 20px; /* Espacement interne */
  border: none; /* Pas de bordure */
  border-radius: 20px; /* Coins arrondis */
  cursor: pointer; /* Curseur en main */
  font-size: 16px; /* Taille de police */
  transition: background-color 0.3s; /* Transition pour l'effet de survol */

}

.button-row {
  display: flex;
  justify-content: flex-end; /* Aligner le bouton à droite */
}


/* Page Etudes */

#photo-etudes {
  width: 200px; /* Largeur du cercle */
  height: 200px; /* Hauteur du cercle */
  border-radius: 50%; /* Rend l'élément circulaire */
  background-color: #3498db; /* Couleur de fond du cercle */
  display: flex; /* Utilisé si vous voulez centrer du contenu à l'intérieur */
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
  margin: 20px auto; /* Centre l'élément sur la page */
}




footer{
  display: flex;
  flex-direction:column ;
  align-items:center;
  justify-content: center;
  border-top: 1px solid white;
}


footer > p, footer > h3{
  margin: 10px;
}

#projets-button{
  text-align: center;
  margin: 10px;
}

#projets-button > h1{
  margin: 25px;
}

#projets-button > button{
  margin: 15px;
  width: 200px;
}

#projets-button > button > a{
  color: black;
  text-decoration: none;
}

.projets-section > h1{
  text-align: center;
  padding: 10px;
  border-top: 1px solid white;

}

.projet-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  gap: 20px; /* Espace entre l'image et le texte */
  padding: 20px;
}

.projet-detail > .text-container > h3{
  margin-bottom: 25px;
}



.text-container {
  flex: 1; /* Prend l'espace disponible */
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  text-align: justify; /* Justifie le texte */
}

.text-container > p {
  width: 75%; /* Définit la largeur du paragraphe */
  text-align: justify; /* Justifie le texte à l'intérieur du paragraphe */
}


.text-container > h3 {
  text-align: center; /* Prend l'espace disponible */
}


.media-container {
  flex: 1; /* Prend l'espace disponible */
  display: flex;
  flex-direction: column; /* Permet d'empiler l'image et le bouton */
  align-items: center; /* Centre l'image et le bouton horizontalement */
}

.media-container img {
  max-width: 100%; /* S'assure que l'image ne dépasse pas son conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  max-height: 500px; /* S'assure que l'image ne dépasse pas son conteneur */
  height: auto; /* Garde les proportions de l'image */
  object-fit: cover; /* Ajuste l'image si nécessaire */
  margin-bottom: 10px; /* Ajoute un espace entre l'image et le bouton */
}



.media-container > button > a{
  text-decoration: none;
  color: black; /* Couleur du texte dans le bouton */
}


.page-centre-dinteret{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.page-centre-dinteret > h1{
  margin-top: 25px;
}


.centre-dinteret-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: justify;
  margin: 25px;
}